# Node.js
node_modules/
.docker/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Fastify
.env

# Mongoose
data/

# IDE/Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
